@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
   --fonte1: Verdana, Geneva, Tahoma, sans-serif;
   --fonte2: 'Passion One', sans-serif;
   --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}


html,body{
    min-width: 100vh;
}

header{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

header > h1{
    text-transform: uppercase;
    font-family: var(--fonte2);
    font-size: 2.5em;
    /*font-size: 5vw;"VW" significa view widht da tela ou seja, usando essa medida no "Font-size" a letra fica adptada para diferentes tipos de tela!*/
}

header > p > a{
    color: white;
    text-decoration: none;
}
header > p > a:hover{
     text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 40px;
    font-family: var(--fonte3);
    font-size: 25px;
    /* font-size: 2.3vw;  "VW" significa view widht da tela ou seja, usando essa medida no "Font-size" a letra fica adptada para diferentes tipos de tela!*/
}

section.normal{
     padding-left: 30px;
}


section.imagem{
   padding-left: 40px;
   background-color: rgba(37, 37, 37, 0.668);
   color: white;
   box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.64);
   text-shadow: 1px 1px 2px black;
}

.imagem > p{
    background-color: rgba(34, 33, 33, 0.234);
    display: inline-block;
    padding: 10px;
}

#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
footer > p > a{
     text-decoration: none;
     color: white;
}
footer > p > a:hover{
  text-decoration: underline;
}


    


